<a href="/five/main"><img src="/assets/교수.PNG" width="100" /></a>
<br><br><br>
<h2>로그인</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
  
            <div class="row field">
              <%= f.email_field :email, autofocus: true, class:"col-lg-12 form-control", placeholder:"이메일을 입력해주세요" %>
            </div>
          <br>
            <div class="row field">
              <%= f.password_field :password, autocomplete: "off", class:"col-lg-12 form-control", placeholder:"비밀번호를 입력해주세요" %>
            </div>
          <br>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :로그인유지 %>
              </div>
            <% end -%>
          <br><br>
            <div class="actions">
              <%= f.submit "로그인",class:"btn btn-lg btn-success btn-block btn-submit" %>
            </div>
          <% end %>
      
  </div>
  <br><br><br>
<%= render "devise/shared/links" %>
