<% unless current_user.nil? %>
    <%= render :partial => "five/pencil" %>
             <h1> 오<small>빠가 </small>미팅<small>을 시켜준다는 그곳!</small> 오미팅<small>에 오신것을 환영합니다</small> </h1>
    <br><br>
<% else %>
<br>
<div class="container-fluid row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
         <a href="/five/main"><img src="/assets/교수.PNG" width="100" /></a>
    </div> 
    <div class="col-md-3">
        <form action="/users/sign_in" method="POST">
            <input class="btn btn-success" type="submit" value="로 그 인">
        </form>
        <form action="/users/sign_up" method="GET">
            <input class="btn btn-primary" type="submit" value="회원가입">
        </form> 
    </div>
    <div class="col-md-2">
                      
    </div>
</div>
             <h1> 오<small>빠가 </small>미팅<small>을 시켜준다는 그곳!</small> 오미팅<small>에 오신것을 환영합니다</small> </h1>
             <br> <br>
<% end %>
<br> <br>

<div class="container-fluid row">
    <div class="col-lg-2" style="background-color:green">
        <br>
        <a href="/five/oh">전체</a>
        <br><br>
        <form action="/five/yuk" method="POST">
            <select name="search" class="panel panel-primary" style="height:50px;
                line-height:50px;
                background:#f4f4f4;">
                      <option value="">대학교 선택</option>
                      <option value="인하대학교">인하대학교</option>
                      <option value="성신여자대학교">성신여자대학교</option>
                  </select> <br><br>
          <input type="submit" value="검색">
        </form>
    </div>
    <div class="col-lg-10">
            <% @posts2.reverse.each do |x| %>

            <form action="/five/read/<%=x.id%>" method="POST">
                <div class="container row">
                    <div class="col-md-9">
                <a href="/five/read/<%=x.id%>"> <%= x.univ %> / <%= x.sex %> / <%= x.number %> / <%= x.post_univ %>에서 <%= x.post_univ_other %>에 봐요~  </a>
                    </div>
                    <div class="col-md-3">
                <input type="submit" value="자세히 보기">
                    </div>
                </div>
            </form> <br>

            <% end %>
          <%= will_paginate @posts2 %> 
 
      
            <br>
                <form action="/five/goo" method="POST">
                    <input class="btn btn-primary" type="submit" value="만남 적기"> <br> <br>
                </form>
    </div>
    </div>
</div>